<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  {% load static %}
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% if LANGUAGE_CODE == "zh-hans" %}学习日志{% else %}Learning Log{% endif %}
  </title>

  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
  <nav class="navbar navbar-expand-md mb-4 border" data-bs-theme>
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'learning_logs:index' %}">
        {% if LANGUAGE_CODE == "zh-hans" %}学习日志{% else %}Learning Log{% endif %}
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'learning_logs:topics' %}">
              {% if LANGUAGE_CODE == "zh-hans" %}主题{% else %}Topics{% endif %}
            </a>
          </li>
        </ul>

        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <!-- 明暗主题切换按钮 -->
          <li class="nav-item me-2">
            <button id="themeToggle" class="btn btn-secondary btn-sm" data-bs-theme>
              <span id="themeBtnText">
                {% if LANGUAGE_CODE == "zh-hans" %}开启暗色模式{% else %}Enable Dark Mode{% endif %}
              </span>
            </button>
          </li>

          <!-- 中英双语下拉切换核心代码 -->
          <li class="nav-item me-2 dropdown">
            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" data-bs-theme>
              {% if LANGUAGE_CODE == 'zh-hans' %}中文{% else %}English{% endif %}
            </button>
            <ul class="dropdown-menu" data-bs-theme>
              <!-- 切换中文表单 -->
              <li>
                <form action="{% url 'set_language' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="next" name="next" value="{{ request.path }}">
                  <input type="hidden" name="language" value="zh-hans">
                  <button class="dropdown-item" type="submit">简体中文</button>
                </form>
              </li>
              <!-- 切换英文表单 -->
              <li>
                <form action="{% url 'set_language' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="next" value="{{ request.path }}">
                  <input type="hidden" name="language" value="en">
                  <button class="dropdown-item" type="submit">English</button>
                </form>
              </li>
            </ul>
          </li>

          {% if user.is_authenticated %}
            <li class="nav-item">
              <span class="navbar-text me-2">
                {% if LANGUAGE_CODE == "zh-hans" %}你好，{% else %}Hello,{% endif %} {{ user.username }}.
              </span>
            </li>
          {% else %}
            <li class="nav-item me-1">
              <a class="btn btn-primary btn-sm text-white" data-bs-theme href="{% url 'accounts:register' %}">
                {% if LANGUAGE_CODE == "zh-hans" %}注册{% else %}Register{% endif %}
              </a>
            </li>
            <li class="nav-item">
              <a class="btn btn-primary btn-sm text-white" data-bs-theme href="{% url 'accounts:login' %}">
                {% if LANGUAGE_CODE == "zh-hans" %}登录{% else %}Log in{% endif %}
              </a>
            </li>
          {% endif %}
        </ul>

        {% if user.is_authenticated %}
          <form action="{% url 'accounts:logout' %}" method='post'>
            {% csrf_token %}
            <button name='submit' class='btn btn-danger btn-sm' data-bs-theme>
              {% if LANGUAGE_CODE == "zh-hans" %}退出{% else %}Log out{% endif %}
            </button>
          </form>
        {% endif %}
      </div>
    </div>
  </nav>

  <main class="container">
    <div class="pb-2 mb-4 border-bottom">
      {% block page_header %}{% endblock page_header %}
    </div>

    <div>
      {% block content %}{% endblock content %}
    </div>
  </main>

  <script>
    const savedTheme = localStorage.getItem('theme') || 'light';
    const html = document.documentElement;
    const btnText = document.getElementById('themeBtnText');
    html.setAttribute('data-bs-theme', savedTheme);

    // 初始文字修正
    const darkText = {% if LANGUAGE_CODE == "zh-hans" %}"开启亮色模式"{% else %}"Enable Light Mode"{% endif %};
    const lightText = {% if LANGUAGE_CODE == "zh-hans" %}"开启暗色模式"{% else %}"Enable Dark Mode"{% endif %};

    if (savedTheme === 'dark') {
      btnText.textContent = darkText;
    }

    const toggleBtn = document.getElementById('themeToggle');
    toggleBtn.addEventListener('click', () => {
      const current = html.getAttribute('data-bs-theme');
      const newTheme = current === 'dark' ? 'light' : 'dark';
      html.setAttribute('data-bs-theme', newTheme);
      localStorage.setItem('theme', newTheme);
      btnText.textContent = newTheme === 'dark' ? darkText : lightText;
    })
  </script>
</body>
</html>