{% extends "base.html" %}

{% block page_header %}
<h2>
{% if LANGUAGE_CODE == "zh-hans" %}学习日志{% else %}Learning Log{% endif %}
</h2>
{% endblock page_header %}

{% block content %}
<div class="card py-5">
    {% if not user.is_authenticated %}
    <h1 class="mb-3">记录你的学习。</h1>
    <p class="text-secondary fs-5 mb-4">
        创建专属学习日志，记录你学习的各类主题。每当你学到新知识，就写一篇总结记录下来。
    </p>
    <a href="{% url 'accounts:register' %}" class="btn btn-primary btn-lg">
        {% if LANGUAGE_CODE == "zh-hans" %}注册 »{% else %}Register »{% endif %}
    </a>
    {% else %}
    <h1 class="mb-3">记录你的学习。</h1>
    <p class="text-secondary fs-5 mb-4">
        {% if LANGUAGE_CODE == "zh-hans" %}随时查看/新建你的学习主题{% else %}View & create your topics anytime{% endif %}
    </p>
    <a href="{% url 'learning_logs:topics' %}" class="btn btn-primary btn-lg">
        {% if LANGUAGE_CODE == "zh-hans" %}查看我的主题{% else %}My Topics{% endif %}
    </a>
    {% endif %}
</div>

{% if request.session.toast_msg %}
<script>
showToast("{{ request.session.toast_msg }}", "success");
</script>
{% endif %}
{% endblock content %}