{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block back_button %}
<a href="{% url 'learning_logs:topics' %}" class="btn btn-outline-secondary btn-sm">
{% if LANGUAGE_CODE == "zh-hans" %}返回{% else %}Back{% endif %}
</a>
{% endblock back_button %}

{% block page_header %}
<h2>{% if LANGUAGE_CODE == "zh-hans" %}新建主题{% else %}New Topic{% endif %}</h2>
{% endblock page_header %}

{% block content %}
<div class="card">
    <form action="{% url 'learning_logs:new_topic' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="mt-4">
            {% if LANGUAGE_CODE == "zh-hans" %}
                {% bootstrap_button button_type="submit" content="保存主题" %}
            {% else %}
                {% bootstrap_button button_type="submit" content="Save Topic" %}
            {% endif %}
        </div>
    </form>
</div>

{% if request.session.toast_msg %}
<script>
showToast("{{ request.session.toast_msg }}", "danger");
</script>
{% endif %}
{% endblock content %}