{% extends 'learning_logs/base.html' %}

{% block page_header %}
  <h1>
    {% if LANGUAGE_CODE == "zh-hans" %}主题列表{% else %}Topics{% endif %}
  </h1>
{% endblock page_header %}

{% block content %}
{% if user.is_authenticated %}
  <h3>
    {% if LANGUAGE_CODE == "zh-hans" %}我的主题{% else %}My topics{% endif %}
  </h3>
  <ul>
    {% for topic in topics %}
      <li>
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic.text }}</a>
        {% if topic.public %}
          {% if LANGUAGE_CODE == "zh-hans" %}（公开）{% else %} (Public){% endif %}
        {% endif %}
        <a href="{% url 'learning_logs:delete_topic' topic.id %}" class="btn btn-sm btn-outline-danger ms-1 py-0 px-1">
          {% if LANGUAGE_CODE == "zh-hans" %}删除{% else %}Delete{% endif %}
        </a>
      </li>
    {% empty %}
      <li>
        {% if LANGUAGE_CODE == "zh-hans" %}尚未添加任何主题。{% else %}No topics have been added yet.{% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}

<h3>
  {% if LANGUAGE_CODE == "zh-hans" %}公开主题{% else %}Public topics{% endif %}
</h3>
<ul>
  {% for topic in public_topics %}
    <li><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic.text }}</a></li>
  {% empty %}
    <li>
      {% if LANGUAGE_CODE == "zh-hans" %}暂无公开主题。{% else %}No public topics available.{% endif %}
    </li>
  {% endfor %}
</ul>
{% if user.is_authenticated %}
  <p>
    <a href="{% url 'learning_logs:new_topic' %}" class="btn btn-primary">
      {% if LANGUAGE_CODE == "zh-hans" %}新建主题{% else %}Add a new topic{% endif %}
    </a>
  </p>
{% endif %}
{% endblock content %}